
.header {
    grid-area: h;
    background-color: black;
    height: 55px;
}

.header img {
    grid-area: h;
    width: 20px;
}

.loginBlock {
    float: right;
    color:burlywood;
}

.loginBlock a {
    color: whitesmoke;
}